<b><u>Day 5 of Learning Pandas</b></u>

<b><u>Topics for Day 5 are:

1. Working with Date & Time 

2. Advanced GroupBy:
- Aggregation functions (mean(), sum(), agg())
- Grouping by multiple columns

3. Apply and Lambda Functions
- Row/column-wise operations with apply()
- Using lambda functions in apply()

4. Handling Duplicates
- duplicated(), drop_duplicates()

5. String Operations
- str.contains(), str.replace(), str.lower(), etc.

6. Window Functions (optional advanced)
- rolling(), expanding()

7. Exporting Data
- to_csv(), to_excel()

Question for Day 5 of learning PANDAS

---

ðŸ”¹Q1: Convert the 'Date' column to datetime and extract the month.  
python
df = pd.DataFrame({'Date': ['2023-01-15', '2023-03-20', '2023-07-25']})


---

ðŸ”¹Q2: Filter rows where 'Date' is in March 2023.

---

ðŸ”¹Q3: Group the DataFrame by 'Department' and calculate both mean and max of 'Salary'.

---

ðŸ”¹Q4: Group by 'Team' and apply agg() to compute both count and sum of 'Points'.

---

ðŸ”¹Q5: Use apply() with a lambda to create a new column 'Age Group' (e.g., "Senior" if Age > 40 else "Junior").

---

ðŸ”¹Q6: Filter rows where the 'Name' column starts with 'A'.

---

ðŸ”¹Q7: Remove duplicate rows based on the 'Email' column.

---

ðŸ”¹Q8: Save a DataFrame to a CSV file named "employees.csv" without the index.

---

ðŸ”¹Q9: Calculate a rolling average of 'Sales' over the past 3 rows.

---

ðŸ”¹Q10: Count missing values in each column of the DataFrame.

---


</b></u>

In [1]:
# ðŸ”¹Q1: Convert the 'Date' column to datetime and extract the month.  
# df = pd.DataFrame({'Date': ['2023-01-15', '2023-03-20', '2023-07-25']})

import pandas as pd
df = pd.DataFrame({'Date': ['2023-01-15', '2023-03-20', '2023-07-25']})
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month

print(df)

        Date  Month
0 2023-01-15      1
1 2023-03-20      3
2 2023-07-25      7

In [2]:
# âž¤ Q2: Filter rows where the date is after '2023-03-01'.

df = pd.DataFrame({'Date': ['2023-01-15', '2023-03-20', '2023-07-25']})
df["Date"] = pd.to_datetime(df["Date"])

filtered = df[df["Date"]>pd.to_datetime("2023-03-01")]
print(filtered)

        Date
1 2023-03-20
2 2023-07-25

In [3]:
# ðŸ”¹Q3: Group the DataFrame by 'Department' and calculate both mean and max of 'Salary'.

df = pd.DataFrame({
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Department" : ["HR", "IT", "HR", "Finance", "IT"],
    "Salary" : [50000, 60000, 55000, 70000, 62000]
})

# Type 1 to solve
mean_data = df.groupby("Department")["Salary"].mean()
max_data = df.groupby("Department")["Salary"].max()
print("mean_data: ", mean_data)
print("max_data: ",max_data)

mean_data:  Department
Finance    70000.0
HR         52500.0
IT         61000.0
Name: Salary, dtype: float64
max_data:  Department
Finance    70000
HR         55000
IT         62000
Name: Salary, dtype: int64

In [4]:
# ðŸ”¹Q4: Group by 'Team' and apply agg() to compute both count and sum of 'Points'.

df = pd.DataFrame({
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Team" : ["A", "B", "B", "A", "C"],
    "Points" : [30,80,60,30,90]
})

group = df.groupby("Team")["Points"].agg(["count", "sum"])
print(group)

      count  sum
Team
A         2   60
B         2  140
C         1   90

In [5]:
# ðŸ”¹Q5: Use apply() with a lambda to create a new column 'Age Group' (e.g., "Senior" if Age > 40 else "Junior").

df = pd.DataFrame({
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age" : [45, 28, 39, 50, 33]
})

df["Age Group"] = df["Age"].apply(lambda age: "Senior" if age > 40 else"Junior")
print(df)

      Name  Age Age Group
0    Alice   45    Senior
1      Bob   28    Junior
2  Charlie   39    Junior
3    David   50    Senior
4      Eva   33    Junior

In [6]:
# ðŸ”¹Q6: Filter rows where the 'Name' column starts with 'A'.

df = pd.DataFrame({
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eva"]
})
Filter = df[df["Name"].str.startswith("A")]
print(Filter)

    Name
0  Alice

In [7]:
# ðŸ”¹Q7: Remove duplicate rows based on the 'Email' column.

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Bob"],
    "Email": ["alice@example.com", "bob@example.com", "charlie@example.com", "david@example.com", "bob@example.com"]
})

df.drop_duplicates(subset = "Email",inplace = True)
df

      Name                Email
0    Alice    alice@example.com
1      Bob      bob@example.com
2  Charlie  charlie@example.com
3    David    david@example.com

In [8]:
# ðŸ”¹Q8: Save a DataFrame to a CSV file named "employees.csv" without the index.

df = pd.DataFrame({
    "Employee_Name" : ["Alice", "Bob", "Charlie", "David"],
    "Department" : ["HR", "IT", "HR", "Finance"],
    "Salary" : [50000, 60000, 55000, 70000]
})

df.to_csv("employees.csv", index = False)

In [9]:
# ðŸ”¹Q9: Calculate a rolling average of 'Sales' over the past 3 rows.

df = pd.DataFrame({
    "Date": pd.date_range(start="2023-01-01", periods=7, freq='D'),
    "Sales": [200, 220, 250, 270, 300, 320, 350]
})

df['Rolling_Avg'] = df['Sales'].rolling(window=3).mean()
print(df)

        Date  Sales  Rolling_Avg
0 2023-01-01    200          NaN
1 2023-01-02    220          NaN
2 2023-01-03    250   223.333333
3 2023-01-04    270   246.666667
4 2023-01-05    300   273.333333
5 2023-01-06    320   296.666667
6 2023-01-07    350   323.333333

In [10]:
# ðŸ”¹Q10: Count missing values in each column of the DataFrame.
import numpy as np

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David', 'Eva'],
    'Age': [25, np.nan, 30, 22, np.nan],
    'Salary': [50000, 60000, np.nan, 70000, 65000]
})

missing_counts = df.isnull().sum()
print(missing_counts)

Name      1
Age       2
Salary    1
dtype: int64