<b><u>Day 4 of Learning Pandas</b></u>

Topics for Day 4 are:
- Merging DataFrames (merge)
- Joining DataFrames (join)
- Concatenating DataFrames (concat)
- Reshaping DataFrames (melt, pivot, stack, unstack)

---

<b><u>Questions:

1. Merge two DataFrames on a common column.  
   Create two DataFrames:  
   df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})  
   df2 = pd.DataFrame({'ID': [1, 2, 4], 'Score': [90, 80, 70]})  
   Merge them on 'ID'.

2. Perform an inner join on two DataFrames.  
   Use the same DataFrames as above but perform an inner join to keep all rows.

3. Concatenate two DataFrames vertically.  
   Concatenate two DataFrames with the same columns but different rows.

4. Concatenate two DataFrames horizontally.  
   Concatenate two DataFrames side-by-side (different columns).

5. Use melt() to reshape a DataFrame from wide to long format.  
   Given a DataFrame with columns Name, Math, and Science, melt the scores into a single column.

6. Use pivot() to reshape a DataFrame from long to wide format.  
   Use the DataFrame created by melt() above and pivot it back to wide format.
7. Stack and unstack a multi-index DataFrame.  
   Create a multi-index DataFrame and demonstrate stacking and unstacking.
</b></u>
---

In [1]:
# ➤ Q1: Merge two DataFrames on a common column

# Create two DataFrames:
# df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
# df2 = pd.DataFrame({'ID': [1, 2, 4], 'Score': [90, 80, 70]})

import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [90, 80, 70]
})  

pd.merge(df1,df2,on = ["ID"], how="outer")

   ID     Name  Score
0   1    Alice   90.0
1   2      Bob   80.0
2   3  Charlie    NaN
3   4      NaN   70.0

In [2]:
# ➤ Q2: Perform an inner join on two DataFrames.
# Use the same DataFrames as above but perform an inner join to keep all rows.

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Score': [90, 80, 70]
})

pd.merge(df1, df2, on= ["ID"], how="inner")

   ID   Name  Score
0   1  Alice     90
1   2    Bob     80

In [3]:
# ➤ Q3: Concatenate two DataFrames vertically.
# Concatenate two DataFrames with the same columns but different rows.

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    "Name" : ["David", "Eva", "Frank"]
})
output = pd.concat([df1,df2], axis=0, ignore_index = True)
print(output)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   1    David
4   2      Eva
5   4    Frank

In [4]:
# ➤ Q4: Concatenate two DataFrames horizontally.  
# Concatenate two DataFrames side-by-side (different columns).

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    "Name" : ["David", "Eva", "Frank"]
})
output = pd.concat([df1,df2], axis = 1)
print(output)

   ID     Name  ID   Name
0   1    Alice   1  David
1   2      Bob   2    Eva
2   3  Charlie   4  Frank

In [5]:
 # ➤ Q5: Use melt() to reshape a DataFrame from wide to long format.  
 #   Given a DataFrame with columns Name, Math, and Science, melt the scores into a single column.

df = pd.DataFrame({
    'Name' : ["Alice", "Bob", "Charlie"],
    'Math' : [85,90,95], 
    'Science' : [88,92,89]
})
result = pd.melt(df, id_vars=["Name"], value_vars = ["Math","Science"], var_name="Subject", value_name="Scores")
print(result)

      Name  Subject  Scores
0    Alice     Math      85
1      Bob     Math      90
2  Charlie     Math      95
3    Alice  Science      88
4      Bob  Science      92
5  Charlie  Science      89

In [6]:
# ➤ Q6: Use pivot() to reshape a DataFrame from long to wide format.  
#    Use the DataFrame created by melt() above and pivot it back to wide format.

df = pd.DataFrame({
    'Name' : ["Alice", "Bob", "Charlie"],
    'Math' : [85,90,95], 
    'Science' : [88,92,89]
})
result = pd.melt(df, id_vars=["Name"], value_vars = ["Math","Science"], var_name="Subject", value_name="Scores")

output = pd.pivot_table(result,index="Name",columns="Subject", values="Scores")
print(output)

Subject  Math  Science
Name
Alice    85.0     88.0
Bob      90.0     92.0
Charlie  95.0     89.0

In [7]:
# ➤ Q7: Stack and unstack a multi-index DataFrame.  
#    Create a multi-index DataFrame and demonstrate stacking and unstacking.
data= ({
    "Math": [85,90],
    "Science": [90,82]
})

index = pd.MultiIndex.from_tuples([("Alice","Test 1"),("Bob", "Test 1")],names=["Name", "Test"])

df = pd.DataFrame(data, index= index)
print(df.stack(level = 0))
print(df.unstack())

Name   Test
Alice  Test 1  Math       85
               Science    90
Bob    Test 1  Math       90
               Science    82
dtype: int64
        Math Science
Test  Test 1  Test 1
Name
Alice     85      90
Bob       90      82